target
.bsp
.idea
*.class
*.iml
*.ipr
*.iws
project
build.sbt
bash-scripts/first.sh
bash-scripts/second.txt
bash-scripts/test-fast-mode.sh
docker/invoices
docker/metastore-postgresql
docker/incubator-superset
src/test
src/main/resources/csvs/note
src/main/resources/csvs/note2
src/main/resources/application.conf
src/main/resources/application-mail.conf
src/main/scala/com/example/InvoicesFromHDFSToHiveTest.scala
src/main/scala/com/example/ProductsFromLocalToHDFSFastMode.scala
src/main/scala/com/example/ProductsFromHDFSToHiveFastMode.scala
src/main/scala/com/example/CountriesFromLocalToHDFSFastMode.scala
src/main/scala/com/example/CountriesFromHDFSToHiveFastMode.scala
src/main/scala/com/example/InvoicesFromLocalToHDFSFastMode.scala
src/main/scala/com/example/InvoicesFromHDFSToHiveFastMode.scala
src/main/scala/com/example/InvoicesFromLocalToHDFSTest.scala
src/main/scala/com/example/JoinFastMode.scala
src/main/scala/com/example/Join2.scala
src/main/scala/com/example/DataStudying.scala
src/main/scala/com/example/Alarm.scala
src/main/scala/com/example/StandardDeviation.scala
bash-scripts/.test-fast-mode.sh.swp
