target
.bsp
.idea
*.class
*.iml
*.ipr
*.iws
project
build.sbt
bash-scripts/first.sh
bash-scripts/second.txt
docker/invoices
docker/metastore-postgresql
src/test
src/main/resources/csvs/note
src/main/resources/csvs/note2
src/main/scala/com/example/InvoicesFromHDFSToHiveTest.scala
src/main/scala/com/example/InvoicesFromLocalToHDFSFastMode.scala
src/main/scala/com/example/InvoicesFromLocalToHDFSTest.scala
src/main/scala/com/example/Join2.scala
